{% extends "base.html" %}

{% block page_title %}Настройки{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/settings/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/settings/modal.css') }}">
{% endblock %}

{% block content %}

    <div class="settings-grid">

        {% include "password.html" %}
        {% include "users.html" %}
        {% include "telegram_bots.html" %}
        {% include "telegram_chats.html" %}
        {% include "scrape_accounts.html" %}
        {% include "proxies.html" %}

    </div>

    {% include "modals/bot_modal.html" %}
    {% include "modals/chat_modal.html" %}
    {% include "modals/scrape_modal.html" %}
    {% include "modals/proxy_modal.html" %}
    {% include "modals/users_modal.html" %}

{% endblock %}

{% block scripts %}

    {{ super() }}

    <script src="{{ url_for('static', path='js/settings/modal.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/delete_proxy.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/delete_telegram_bot.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/delete_scrape_account.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/add_scrape_account.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/list_scrape_accounts.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/add_telegram_bot.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/list_telegram_bots.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/add_proxies.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/list_proxies.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/list_users.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/add_user.js') }}"></script>
    <script src="{{ url_for('static', path='js/settings/delete_user.js') }}"></script>

{% endblock %}