<div class="card">

    <div class="card-header">

        <h2>телеграм боты</h2>

        <button class="add-btn" onclick="openModal('botModal')">
            +
        </button>

    </div>


    <div class="table-wrapper">

        <table class="styled-table">

            <thead>

            <tr>
                <th>название</th>
                <th>ссылка</th>
                <th>статус</th>
                <th>дата добавления</th>
                <th>дата обновления</th>
                <th></th>
            </tr>

            </thead>


            <tbody id="telegramBotsBody"></tbody>

        </table>

    </div>

</div>