<div class="card">

    <div class="card-header">

        <h2>телеграм чаты</h2>

        <button class="add-btn" onclick="openModal('chatModal')">
            +
        </button>

    </div>


    <div class="table-wrapper">

        <table class="styled-table">

            <thead>

            <tr>
                <th>название</th>
                <th>ссылка</th>
                <th></th>
            </tr>

            </thead>


            <tbody>

            <tr>

                <td>
                    основной чат
                </td>

                <td>
                    <a href="#" class="link">
                        https://t.me/example_chat
                    </a>
                </td>

                <td>

                    <button class="btn-delete">
                        удалить
                    </button>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>